<div class="navbar bg-primary text-white mb-4">
  <div class="container">
    <h1><b>API de Pessoas</b></h1>
  </div>
</div>

<div class="container mb-4">
  <div class="row mb-3">
    <div class="col card me-2 px-3 py-2">
      <h3>Buscar pessoa</h3>
      <div>
        <input type="search" placeholder="Digite um nome..." class="form-control"
          [(ngModel)]="valorBuscaPessoa" 
          (keyup.enter)="obterPessoaEspecifica()" />
      </div>
    
      <p>Pessoa encontrada: {{ (pessoaEncontrada$ | async)?.nome }}</p>
    </div>

    <div class="col card me-1 md-1 px-3 py-2">
      <h3>Adicionar pessoa</h3>
      <div>
        <input type="search" placeholder="Digite um nome..." class="form-control"
          [(ngModel)]="nomeAdicionar" 
          (keyup.enter)="adicionarPessoa()" />
      </div>

      <p>Pessoa adicionada: {{ (pessoaAdicionada$ | async)?.nome }}</p>
    </div>

    <div class="col card ms-2 px-3 py-2">
      <h3>Deletar pessoa</h3>
      <div>
        <input type="search" placeholder="Digite um ID..." class="form-control"
          [(ngModel)]="idDeletar" 
          (keyup.enter)="deletarPessoa()" />
      </div>

      <p>Pessoa deletada: {{ (pessoaDeletada$ | async)?.nome }}</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col card px-3 py-2">
      <h3>Atualizar pessoa</h3>
      <div>
        <form [formGroup]="meuForm" (keyup.enter)="atualizarPessoa()" >
          <input type="search" placeholder="Digite um ID..." class="form-control mb-2"
            formControlName="id" />
          <input type="search" placeholder="Digite o novo nome..." class="form-control"
            formControlName="nome" />
        </form>
      </div>
    
      <p>Pessoa atualizada: {{ (pessoaAtualizada$ | async)?.nome }}</p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <h2>Lista de pessoas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data de Criação</th>
      </tr>
    </thead>
    <tbody>
      @for (pessoa of pessoas$ | async; track pessoas$) {
        <tr>
          <td>{{ pessoa.id }}</td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.dataDeCadastro }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>